body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p {
  width: 10em;
}

.flexer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flexer > div{
  margin: 1em;
}

.itemPaper {
  text-align: center;
}

#charCreate{
  height: 1em;
}
